npx : prisma:config:loadConfigFromFile 
No config file found in the current 
working directory D:\A1 working\Diwalya 
+500ms
At line:1 char:1
+ npx prisma migrate diff --from-empty 
--to-schema-datamodel prisma/sch ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecifi 
   ed: (prisma:config:l...\Diwalya +500  
  ms:String) [], RemoteException
    + FullyQualifiedErrorId : NativeComm 
   andError
 
prisma:engines binaries to download 
libquery-engine, schema-engine +496ms
prisma:loadEnv project root found at 
D:\A1 working\Diwalya\package.json +177ms
prisma:getSchema prismaConfig {
  "packagePath": "D:\\A1 
working\\Diwalya\\package.json"
} +2ms
prisma:tryLoadEnv Environment variables 
loaded from D:\A1 working\Diwalya\.env 
+1ms
prisma:getConfig Using getConfig Wasm 
+4ms
prisma:getConfig config data retrieved 
without errors in getConfig Wasm +22ms
prisma:getSchema Reading schema from 
single file D:\A1 
working\Diwalya\prisma\schema.prisma +2ms
prisma:schemaEngine:rpc starting Schema 
engine with binary: D:\A1 working\Diwalya
\node_modules\@prisma\engines\schema-engi
ne-windows.exe +3ms
prisma:schemaEngine:rpc SENDING RPC CALL 
{"id":1,"jsonrpc":"2.0","method":"diff","
params":{"from":{"tag":"empty"},"to":{"ta
g":"schemaDatamodel","files":[{"path":"D:
\\A1 working\\Diwalya\\prisma\\schema.pri
sma","content":"generator client {\n  
provider = 
\"prisma-client-js\"\n}\n\ndatasource db 
{\n  provider = \"postgresql\"\n  url    
  = env(\"DATABASE_URL\")\n}\n\nenum 
Role {\n  CLIENT\n  WORKER\n  ADMIN\n  
SUPER_ADMIN\n}\n\nenum 
VerificationStatus {\n  PENDING\n  
APPROVED\n  REJECTED\n}\n\nenum 
JobStatus {\n  PENDING\n  ADMIN_REVIEW\n 
 WORKER_REVIEW\n  RESCHEDULE_REQUESTED\n 
 ACCEPTED\n  IN_PROGRESS\n  COMPLETED\n  
CANCELLED\n}\n\nenum JobType {\n  
REGULAR\n  INSPECTION\n}\n\nmodel User 
{\n  id            String    @id 
@default(cuid())\n  email         String 
   @unique\n  phone         String?   
@unique\n  passwordHash  String?\n  name 
         String\n  role          Role    
  @default(CLIENT)\n  profilePicture 
String?\n  createdAt     DateTime  
@default(now())\n  updatedAt     
DateTime  @updatedAt\n  fcmToken      
String?\n\n  workerProfile   
WorkerProfile?\n  jobsAsClient    Job[]  
   @relation(\"ClientJobs\")\n  
jobsAsWorker    Job[]     
@relation(\"WorkerJobs\")\n  
reviewsGiven    Review[]  
@relation(\"ReviewsGiven\")\n  
reviewsReceived Review[]  
@relation(\"ReviewsReceived\")\n  wallet 
         Wallet?\n  withdrawals     
WithdrawalRequest[]\n  specialRequests 
SpecialRequest[]\n  reportsFiled    
PlatformReport[] 
@relation(\"ReportsFiled\")\n  
reportsReceived PlatformReport[] 
@relation(\"ReportsReceived\")\n  \n  // 
Admin Controls\n  isSuspended     
Boolean  @default(false)\n  isBanned     
   Boolean  @default(false)\n  
warningCount    Int      @default(0)\n  
suspensionReason String?\n  \n  messages 
       ChatMessage[]\n  activities      
ActivityLog[]\n}\n\nmodel WorkerProfile 
{\n  id              String   @id 
@default(cuid())\n  userId          
String   @unique\n  user            User 
    @relation(fields: [userId], 
references: [id], onDelete: Cascade)\n  
category        String\n  bio            
 String?\n  experienceYears Int      
@default(0)\n  location        String\n  
hourlyRate      Float?\n  isVerified     
 Boolean  @default(false)\n  
availability    String?  // Could be 
JSON or simple text\n  portfolioImages 
String[] // Array of image URLs\n  
portfolioVideos String[] // Array of 
video URLs\n  businessName    String?\n  
ghanaCardUrl    String?\n  
rejectionReason String?\n  
verificationStatus VerificationStatus 
@default(PENDING)\n}\n\nmodel Job {\n  
id          String   @id 
@default(cuid())\n  clientId    String\n 
 client      User     
@relation(\"ClientJobs\", fields: 
[clientId], references: [id])\n  
workerId    String\n  worker      User   
  @relation(\"WorkerJobs\", fields: 
[workerId], references: [id])\n  
serviceType String\n  description 
String\n  location    String\n  
scheduledAt DateTime\n  status      
JobStatus @default(PENDING)\n  type      
  JobType   @default(REGULAR)\n  
priceAmount Float?\n  
inspectionWorkerAmount Float? // Amount 
worker gets from inspection fee\n  
inspectionAdminAmount  Float? // Amount 
platform keeps\n  paymentId   String?  
@unique\n  payment     Payment? 
@relation(fields: [paymentId], 
references: [id])\n  createdAt   
DateTime @default(now())\n  \n  review   
   Review?\n  messages    
ChatMessage[]\n}\n\nmodel Payment {\n  
id            String   @id 
@default(cuid())\n  amount        
Float\n  currency      String   
@default(\"GHS\")\n  status        
String   // PENDING, SUCCESS, FAILED\n  
reference     String   @unique // 
Paystack transaction reference\n  
createdAt     DateTime @default(now())\n 
 \n  job           Job?\n}\n\nmodel 
Review {\n  id          String   @id 
@default(cuid())\n  jobId       String   
@unique\n  job         Job      
@relation(fields: [jobId], references: 
[id])\n  authorId    String\n  author    
  User     @relation(\"ReviewsGiven\", 
fields: [authorId], references: [id])\n  
targetId    String\n  target      User   
  @relation(\"ReviewsReceived\", fields: 
[targetId], references: [id])\n  rating  
    Int      // 1 to 5\n  comment     
String?\n  createdAt   DateTime 
@default(now())\n}\n\nmodel Wallet {\n  
id        String   @id 
@default(cuid())\n  userId    String   
@unique\n  user      User     
@relation(fields: [userId], references: 
[id], onDelete: Cascade)\n  balance   
Float    @default(0.0)\n  createdAt 
DateTime @default(now())\n  updatedAt 
DateTime @updatedAt\n\n  transactions 
Transaction[]\n}\n\nenum TransactionType 
{\n  CREDIT\n  DEBIT\n}\n\nenum 
TransactionPurpose {\n  JOB_PAYMENT\n  
WITHDRAWAL\n  PLATFORM_FEE\n  REFUND\n  
INSPECTION_FEE\n}\n\nmodel Transaction 
{\n  id        String             @id 
@default(cuid())\n  walletId  String\n  
wallet    Wallet             
@relation(fields: [walletId], 
references: [id], onDelete: Cascade)\n  
amount    Float\n  type      
TransactionType\n  purpose   
TransactionPurpose\n  reference String?  
          @unique // e.g. from Paystack 
or internal job ID\n  status    String   
          @default(\"SUCCESS\") // 
PENDING, SUCCESS, FAILED\n  metadata  
String?            // JSON string for 
extra info\n  createdAt DateTime         
  @default(now())\n}\n\nenum 
WithdrawalStatus {\n  PENDING\n  
APPROVED\n  REJECTED\n  
PROCESSED\n}\n\nenum WithdrawalMethod 
{\n  MOMO\n  BANK\n}\n\nmodel 
WithdrawalRequest {\n  id             
String           @id @default(cuid())\n  
userId         String\n  user           
User             @relation(fields: 
[userId], references: [id], onDelete: 
Cascade)\n  amount         Float\n  
status         WithdrawalStatus 
@default(PENDING)\n  method         
WithdrawalMethod \n  accountName    
String\n  accountNumber  String\n  
bankName       String?          // 
Required if BANK, e.g. MTN, Vodafone, 
GCB\n  adminNotified  Boolean          
@default(false)\n  processedAt    
DateTime?\n  adminNotes     String?\n  
createdAt      DateTime         
@default(now())\n  updatedAt      
DateTime         @updatedAt\n}\n\nmodel 
SpecialRequest {\n  id            String 
  @id @default(cuid())\n  userId        
String\n  user          User     
@relation(fields: [userId], references: 
[id], onDelete: Cascade)\n  serviceType  
 String\n  description   String\n  
location      String\n  preferredTime 
DateTime\n  budget        Float?\n  
status        String   
@default(\"PENDING\") // PENDING, 
ASSIGNED, COMPLETED, CONTACTED\n  
adminNotes    String?\n  
assignedWorkerId String?\n  createdAt    
 DateTime @default(now())\n  updatedAt   
  DateTime @updatedAt\n}\n\nmodel 
PlatformReport {\n  id            String 
  @id @default(cuid())\n  reporterId    
String\n  reporter      User     
@relation(\"ReportsFiled\", fields: 
[reporterId], references: [id])\n  
targetId      String\n  target        
User     @relation(\"ReportsReceived\", 
fields: [targetId], references: [id])\n  
jobId         String?\n  reason        
String\n  description   String\n  
evidenceUrls  String[]\n  status        
String   @default(\"PENDING\") // 
PENDING, REVIEWED, RESOLVED, DISMISSED\n 
 adminNotes    String?\n  createdAt     
DateTime @default(now())\n  updatedAt    
 DateTime @updatedAt\n}\n\nmodel 
ChatMessage {\n  id        String   @id 
@default(cuid())\n  jobId     String\n  
senderId  String\n  content   String\n  
isFlagged Boolean  @default(false)\n  
createdAt DateTime @default(now())\n\n  
job    Job  @relation(fields: [jobId], 
references: [id], onDelete: Cascade)\n  
sender User @relation(fields: 
[senderId], references: [id])\n}\n\nenum 
ActivityType {\n  REGISTRATION\n  
BOOKING_REQUEST\n  BOOKING_ACCEPTED\n  
BOOKING_REJECTED\n  PAYMENT_COMPLETED\n  
WALLET_WITHDRAWAL\n  REPORT_SUBMITTED\n  
VERIFICATION_REQUEST\n  
VERIFICATION_APPROVED\n  SYSTEM_ALERT\n  
ADMIN_ACTION\n}\n\nmodel ActivityLog {\n 
 id        String       @id 
@default(cuid())\n  type      
ActivityType\n  content   String\n  
userId    String?\n  metadata  Json?     
   // To store IDs like jobId, amount, 
etc.\n  createdAt DateTime     
@default(now())\n\n  user User? 
@relation(fields: [userId], references: 
[id])\n}\n\nmodel SystemSettings {\n  id 
                   String   @id 
@default(\"default\")\n  inspectionFee   
      Float    @default(100.0)\n  
inspectionWorkerShare Float    
@default(60.0)\n  updatedAt             
DateTime 
@updatedAt\n}\n"}]},"script":true}} +7ms
prisma:schemaEngine:stderr {"timestamp":"
2026-03-19T08:54:49.0006589Z","level":"IN
FO","fields":{"message":"Starting schema 
engine RPC server","git_hash":"a9055b89e5
8b4b5bfb59600785423b1db3d0e75d"},"target"
:"schema_engine"} +10ms
-- CreateEnum
CREATE TYPE "Role" AS ENUM ('CLIENT', 'WORKER', 'ADMIN', 'SUPER_ADMIN');

-- CreateEnum
CREATE TYPE "VerificationStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "JobStatus" AS ENUM ('PENDING', 'ADMIN_REVIEW', 'WORKER_REVIEW', 'RESCHEDULE_REQUESTED', 'ACCEPTED', 'IN_PROGRESS', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "JobType" AS ENUM ('REGULAR', 'INSPECTION');

-- CreateEnum
CREATE TYPE "TransactionType" AS ENUM ('CREDIT', 'DEBIT');

-- CreateEnum
CREATE TYPE "TransactionPurpose" AS ENUM ('JOB_PAYMENT', 'WITHDRAWAL', 'PLATFORM_FEE', 'REFUND', 'INSPECTION_FEE');

-- CreateEnum
CREATE TYPE "WithdrawalStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'PROCESSED');

-- CreateEnum
CREATE TYPE "WithdrawalMethod" AS ENUM ('MOMO', 'BANK');

-- CreateEnum
CREATE TYPE "ActivityType" AS ENUM ('REGISTRATION', 'BOOKING_REQUEST', 'BOOKING_ACCEPTED', 'BOOKING_REJECTED', 'PAYMENT_COMPLETED', 'WALLET_WITHDRAWAL', 'REPORT_SUBMITTED', 'VERIFICATION_REQUEST', 'VERIFICATION_APPROVED', 'SYSTEM_ALERT', 'ADMIN_ACTION');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "passwordHash" TEXT,
    "name" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'CLIENT',
    "profilePicture" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "fcmToken" TEXT,
    "isSuspended" BOOLEAN NOT NULL DEFAULT false,
    "isBanned" BOOLEAN NOT NULL DEFAULT false,
    "warningCount" INTEGER NOT NULL DEFAULT 0,
    "suspensionReason" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WorkerProfile" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "bio" TEXT,
    "experienceYears" INTEGER NOT NULL DEFAULT 0,
    "location" TEXT NOT NULL,
    "hourlyRate" DOUBLE PRECISION,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "availability" TEXT,
    "portfolioImages" TEXT[],
    "portfolioVideos" TEXT[],
    "businessName" TEXT,
    "ghanaCardUrl" TEXT,
    "rejectionReason" TEXT,
    "verificationStatus" "VerificationStatus" NOT NULL DEFAULT 'PENDING',

    CONSTRAINT "WorkerProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Job" (
    "id" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "workerId" TEXT NOT NULL,
    "serviceType" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "scheduledAt" TIMESTAMP(3) NOT NULL,
    "status" "JobStatus" NOT NULL DEFAULT 'PENDING',
    "type" "JobType" NOT NULL DEFAULT 'REGULAR',
    "priceAmount" DOUBLE PRECISION,
    "inspectionWorkerAmount" DOUBLE PRECISION,
    "inspectionAdminAmount" DOUBLE PRECISION,
    "paymentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Job_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Payment" (
    "id" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'GHS',
    "status" TEXT NOT NULL,
    "reference" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Payment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Review" (
    "id" TEXT NOT NULL,
    "jobId" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "targetId" TEXT NOT NULL,
    "rating" INTEGER NOT NULL,
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Review_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Wallet" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "balance" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Wallet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Transaction" (
    "id" TEXT NOT NULL,
    "walletId" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "type" "TransactionType" NOT NULL,
    "purpose" "TransactionPurpose" NOT NULL,
    "reference" TEXT,
    "status" TEXT NOT NULL DEFAULT 'SUCCESS',
    "metadata" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Transaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WithdrawalRequest" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "status" "WithdrawalStatus" NOT NULL DEFAULT 'PENDING',
    "method" "WithdrawalMethod" NOT NULL,
    "accountName" TEXT NOT NULL,
    "accountNumber" TEXT NOT NULL,
    "bankName" TEXT,
    "adminNotified" BOOLEAN NOT NULL DEFAULT false,
    "processedAt" TIMESTAMP(3),
    "adminNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WithdrawalRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SpecialRequest" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "serviceType" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "preferredTime" TIMESTAMP(3) NOT NULL,
    "budget" DOUBLE PRECISION,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "adminNotes" TEXT,
    "assignedWorkerId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SpecialRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlatformReport" (
    "id" TEXT NOT NULL,
    "reporterId" TEXT NOT NULL,
    "targetId" TEXT NOT NULL,
    "jobId" TEXT,
    "reason" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "evidenceUrls" TEXT[],
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "adminNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PlatformReport_pkey" PRIMARY KEY ("id")
prisma:migrate:diff {
  "migrateDiffOutput": {
    "exitCode": 0
  }
} +8ms
prisma:cli:bin Execution time for 
executing "await 
cli.parse(commandArray)": 232.6078 ms 
+0ms
prisma:getSchema prismaConfig {
  "packagePath": "D:\\A1 
working\\Diwalya\\package.json"
} +2ms
prisma:getSchema Checking existence of 
D:\A1 working\Diwalya\schema.prisma +0ms
prisma:getSchema Reading schema from 
single file D:\A1 
working\Diwalya\schema.prisma +0ms
prisma:getSchema prismaConfig {
  "packagePath": "D:\\A1 
working\\Diwalya\\package.json"
} +0ms
prisma:getSchema Checking existence of 
D:\A1 working\Diwalya\schema.prisma +0ms
prisma:getSchema Reading schema from 
single file D:\A1 
working\Diwalya\schema.prisma +0ms
prisma:getSchema Checking existence of 
D:\A1 
working\Diwalya\prisma\schema.prisma +1ms
prisma:getSchema Reading schema from 
single file D:\A1 
working\Diwalya\prisma\schema.prisma +0ms
prisma:getSchema Checking existence of 
D:\A1 
working\Diwalya\prisma\schema.prisma +0ms
prisma:getSchema Reading schema from 
single file D:\A1 
working\Diwalya\prisma\schema.prisma +0ms
prisma:getSchema Reading schema from 
multiple files D:\A1 
working\Diwalya\prisma\schema +0ms
prisma:getSchema Reading schema from 
multiple files D:\A1 
working\Diwalya\prisma\schema +1ms
prisma:getConfig Using getConfig Wasm 
+0ms
);

-- CreateTable
CREATE TABLE "ChatMessage" (
    "id" TEXT NOT NULL,
    "jobId" TEXT NOT NULL,
    "senderId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "isFlagged" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ChatMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ActivityLog" (
    "id" TEXT NOT NULL,
    "type" "ActivityType" NOT NULL,
    "content" TEXT NOT NULL,
    "userId" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ActivityLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SystemSettings" (
    "id" TEXT NOT NULL DEFAULT 'default',
    "inspectionFee" DOUBLE PRECISION NOT NULL DEFAULT 100.0,
    "inspectionWorkerShare" DOUBLE PRECISION NOT NULL DEFAULT 60.0,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SystemSettings_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_phone_key" ON "User"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "WorkerProfile_userId_key" ON "WorkerProfile"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Job_paymentId_key" ON "Job"("paymentId");

-- CreateIndex
CREATE UNIQUE INDEX "Payment_reference_key" ON "Payment"("reference");

-- CreateIndex
CREATE UNIQUE INDEX "Review_jobId_key" ON "Review"("jobId");

-- CreateIndex
CREATE UNIQUE INDEX "Wallet_userId_key" ON "Wallet"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Transaction_reference_key" ON "Transaction"("reference");

-- AddForeignKey
ALTER TABLE "WorkerProfile" ADD CONSTRAINT "WorkerProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Job" ADD CONSTRAINT "Job_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Job" ADD CONSTRAINT "Job_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Job" ADD CONSTRAINT "Job_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES "Payment"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Review" ADD CONSTRAINT "Review_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "Job"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Review" ADD CONSTRAINT "Review_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Review" ADD CONSTRAINT "Review_targetId_fkey" FOREIGN KEY ("targetId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Wallet" ADD CONSTRAINT "Wallet_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transaction" ADD CONSTRAINT "Transaction_walletId_fkey" FOREIGN KEY ("walletId") REFERENCES "Wallet"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WithdrawalRequest" ADD CONSTRAINT "WithdrawalRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SpecialRequest" ADD CONSTRAINT "SpecialRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlatformReport" ADD CONSTRAINT "PlatformReport_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlatformReport" ADD CONSTRAINT "PlatformReport_targetId_fkey" FOREIGN KEY ("targetId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChatMessage" ADD CONSTRAINT "ChatMessage_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "Job"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChatMessage" ADD CONSTRAINT "ChatMessage_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ActivityLog" ADD CONSTRAINT "ActivityLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

prisma:getConfig config data retrieved 
without errors in getConfig Wasm +3ms
prisma:cli:checkpoint 
runCheckpointClientCheck(): Execution 
time for getting info: 7.119699999999966 
ms +1ms
prisma:cli:checkpoint 
runCheckpointClientCheck(): Execution 
time for "await checkpoint.check(data)": 
35.07349999999997 ms +35ms
